
@charset "UTF-8";

html{

    font-size: 100%;

}

#page {
    width: 100%;
    margin: 0 auto;
    border: blue 5px solid;
    background-color: white;
    height: 800;

  }

  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .wrapper{
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align: center;
  }

.nav_toggle {
  display: block;
  position: relative;
  width: 1.75rem;
  height: 1.5rem;
}
.nav_toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
  transition: transform .5s, opacity .5s;
}
.nav_toggle i:nth-child(1) {
  top: 0;
}
.nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.nav_toggle i:nth-child(3) {
  bottom: 0;
}

.nav_toggle.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
  }
  .nav_toggle.show i:nth-child(2) {
    opacity: 0;
  }
  .nav_toggle.show i:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
  }


  .circle-image {
    
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  180px;       /* ※縦横を同値に */
    height: 180px;       /* ※縦横を同値に */
}